body{background-color:#080808;}
h1,h2,h3,h4,h5,h6,h7{color:#ffb11b;}
.table thead th,.table th{color:#ffb11b;}
.table td{color:#fcfaf2}
table.dataTable tbody tr{background-color:transparent;}
.price,.percent{text-align: right;font-weight:normal;}